body {
  margin: 50px;
  padding: 50px;
  background-color: rgb(246, 246, 233);
  font-family: "Times New Roman", Times, serif;
}

h3 {
  font-size: x-large;
  font-weight: bolder;
  color: rgb(240, 87, 87);
}
p {
  color: rgb(17, 67, 67);
  font-weight: bold;
}
